# Visual Studio Code and JetBrains IDE directories
.vscode/
.idea/

# macOS-specific files
.DS_Store

# History directory (if any)
.history/

# Build output directory
/lib

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity
