# macOS-specific files
.DS_Store

# Node modules directory
node_modules

# Source directory
src

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE and Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Configuration files
tsconfig.json
tslint.json
package-lock.json

# Gitignore itself
.gitignore
